<div id = "heading" class="container">
    <h1>Crossword Puzzle</h1>
    </div>
    <div id = "grid" class="container">
    <mat-grid-list id = "grid" cols="7" rowHeight="1:1">
        <!-- <mat-grid-tile>W</mat-grid-tile> -->
        <mat-grid-tile>

            <p>1</p>

            <input matInput type="text" id="1" name="1" #square1 class="form-control"
            maxlength="1" size="1" pattern="[Ww]{1}"
            (input)="square1.value = square1.value.toUpperCase()" 
            [(ngModel)]="square1.value" #s1="ngModel">

            <div *ngIf="s1.invalid && (s1.dirty || s1.touched)"
            class="alert">
                <div *ngIf="s1.errors?.pattern">
                Wrong letter! Please try again.
                </div>
            </div>


        </mat-grid-tile>

        <!-- <mat-grid-tile>A</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="2" name="2" #square2 class="form-control"
            maxlength="1" size="1" pattern="[Aa]{1}"
            (input)="square2.value = square2.value.toUpperCase()"
            [(ngModel)]="square2.value" #s2="ngModel">

            <div *ngIf="s2.invalid && (s2.dirty || s2.touched)"
            class="alert">
    
                <div *ngIf="s2.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>I</mat-grid-tile> -->
        <mat-grid-tile>

            <p>3</p>

            <input matInput type="text" id="3" name="3" #square3 class="form-control"
            maxlength="1" size="1" pattern="[Ii]{1}"
            (input)="square3.value = square3.value.toUpperCase()"
            [(ngModel)]="square3.value" #s3="ngModel">

            <div *ngIf="s3.invalid && (s3.dirty || s3.touched)"
            class="alert">
    
                <div *ngIf="s3.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>L</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="4" name="4" #square4 class="form-control"
            maxlength="1" size="1" pattern="[Ll]{1}"
            (input)="square4.value = square4.value.toUpperCase()"
            [(ngModel)]="square4.value" #s4="ngModel">

            <div *ngIf="s4.invalid && (s4.dirty || s4.touched)"
            class="alert">
    
                <div *ngIf="s4.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>I</mat-grid-tile> -->
        <mat-grid-tile>

            <p>5</p>

            <input matInput type="text" id="5" name="5" #square5 class="form-control"
            maxlength="1" size="1" pattern="[Ii]{1}"
            (input)="square5.value = square5.value.toUpperCase()"
            [(ngModel)]="square5.value" #s5="ngModel">

            <div *ngIf="s5.invalid && (s5.dirty || s5.touched)"
            class="alert">
    
                <div *ngIf="s5.errors?.pattern">
                Wrong letter! Please try again.
                </div>
                
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>N</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="6" name="6" #square6 class="form-control"
            maxlength="1" size="1" pattern="[Nn]{1}"
            (input)="square6.value = square6.value.toUpperCase()"
            [(ngModel)]="square6.value" #s6="ngModel">

            <div *ngIf="s6.invalid && (s6.dirty || s6.touched)"
            class="alert">

                <div *ngIf="s6.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>G</mat-grid-tile> -->
        <mat-grid-tile>

            <p>7</p>

            <input matInput type="text" id="7" name="7" #square7 class="form-control"
            maxlength="1" size="1" pattern="[Gg]{1}"
            (input)="square7.value = square7.value.toUpperCase()"
            [(ngModel)]="square7.value" #s7="ngModel">

            <div *ngIf="s7.invalid && (s7.dirty || s7.touched)"
            class="alert">

                <div *ngIf="s7.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>H</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="8" name="8" #square8 class="form-control"
            maxlength="1" size="1" pattern="[Hh]{1}"
            (input)="square8.value = square8.value.toUpperCase()"
            [(ngModel)]="square8.value" #s8="ngModel">

            <div *ngIf="s8.invalid && (s8.dirty || s8.touched)"
            class="alert">

                <div *ngIf="s8.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <mat-grid-tile id = "null"></mat-grid-tile>

        <!-- <mat-grid-tile>M</mat-grid-tile> -->
        <mat-grid-tile>
            
            <input matInput type="text" id="10" name="10" #square10 class="form-control"
            maxlength="1" size="1" pattern="[Mm]{1}"
            (input)="square10.value = square10.value.toUpperCase()"
            [(ngModel)]="square10.value" #s10="ngModel">

            <div *ngIf="s10.invalid && (s10.dirty || s10.touched)"
            class="alert">

                <div *ngIf="s10.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <mat-grid-tile id = "null"></mat-grid-tile>

        <!-- <mat-grid-tile>C</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="12" name="12" #square12 class="form-control"
            maxlength="1" size="1" pattern="[Cc]{1}"
            (input)="square12.value = square12.value.toUpperCase()"
            [(ngModel)]="square12.value" #s12="ngModel">

            <div *ngIf="s12.invalid && (s12.dirty || s12.touched)"
            class="alert">

                <div *ngIf="s12.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <mat-grid-tile id = "null"></mat-grid-tile>

        <!-- <mat-grid-tile>O</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="14" name="14" #square14 class="form-control"
            maxlength="1" size="1" pattern="[Oo]{1}"
            (input)="square14.value = square14.value.toUpperCase()"
            [(ngModel)]="square14.value" #s14="ngModel">

            <div *ngIf="s14.invalid && (s14.dirty || s14.touched)"
            class="alert">

                <div *ngIf="s14.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>

        </mat-grid-tile>


        <!-- <mat-grid-tile>I</mat-grid-tile> -->
        <mat-grid-tile>

            <p>3</p>

        
            <input matInput type="text" id="15" name="15" #square15 class="form-control"
            maxlength="1" size="1" pattern="[Ii]{1}"
            (input)="square15.value = square15.value.toUpperCase()"
            [(ngModel)]="square15.value" #s15="ngModel">

            <div *ngIf="s15.invalid && (s15.dirty || s15.touched)"
            class="alert">

                <div *ngIf="s15.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>N</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="16" name="16" #square16 class="form-control"
            maxlength="1" size="1" pattern="[Nn]{1}"
            (input)="square16.value = square16.value.toUpperCase()"
            [(ngModel)]="square16.value" #s16="ngModel">

            <div *ngIf="s16.invalid && (s16.dirty || s16.touched)"
            class="alert">

                <div *ngIf="s16.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>B</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="17" name="17" #square17 class="form-control"
            maxlength="1" size="1" pattern="[Bb]{1}"
            (input)="square17.value = square17.value.toUpperCase()"
            [(ngModel)]="square17.value" #s17="ngModel">

            <div *ngIf="s17.invalid && (s17.dirty || s17.touched)"
            class="alert">

                <div *ngIf="s17.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>R</mat-grid-tile> -->
        <mat-grid-tile>

            <input matInput type="text" id="18" name="18" #square18 class="form-control"
            maxlength="1" size="1" pattern="[Rr]{1}"
            (input)="square18.value = square18.value.toUpperCase()"
            [(ngModel)]="square18.value" #s18="ngModel">

            <div *ngIf="s18.invalid && (s18.dirty || s18.touched)"
            class="alert">

                <div *ngIf="s18.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="19" name="19" #square19 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square19.value = square19.value.toUpperCase()"
            [(ngModel)]="square19.value" #s19="ngModel">

            <div *ngIf="s19.invalid && (s19.dirty || s19.touched)"
            class="alert">

                <div *ngIf="s19.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="19" name="19" #square19 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square19.value = square19.value.toUpperCase()"
            [(ngModel)]="square19.value" #s19="ngModel">

            <div *ngIf="s19.invalid && (s19.dirty || s19.touched)"
            class="alert">

                <div *ngIf="s19.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>D</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="20" name="20" #square20 class="form-control"
            maxlength="1" size="1" pattern="[Dd]{1}"
            (input)="square20.value = square20.value.toUpperCase()"
            [(ngModel)]="square20.value" #s20="ngModel">

            <div *ngIf="s20.invalid && (s20.dirty || s20.touched)"
            class="alert">

                <div *ngIf="s20.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>T</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="21" name="21" #square21 class="form-control"
            maxlength="1" size="1" pattern="[Tt]{1}"
            (input)="square21.value = square21.value.toUpperCase()"
            [(ngModel)]="square21.value" #s21="ngModel">

            <div *ngIf="s21.invalid && (s21.dirty || s21.touched)"
            class="alert">

                <div *ngIf="s21.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>I</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="22" name="22" #square22 class="form-control"
            maxlength="1" size="1" pattern="[Ii]{1}"
            (input)="square22.value = square22.value.toUpperCase()"
            [(ngModel)]="square22.value" #s22="ngModel">

            <div *ngIf="s22.invalid && (s22.dirty || s22.touched)"
            class="alert">

                <div *ngIf="s22.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>F</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="23" name="23" #square23 class="form-control"
            maxlength="1" size="1" pattern="[Ff]{1}"
            (input)="square23.value = square23.value.toUpperCase()"
            [(ngModel)]="square23.value" #s23="ngModel">

            <div *ngIf="s23.invalid && (s23.dirty || s23.touched)"
            class="alert">

                <div *ngIf="s23.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>H</mat-grid-tile> -->
        <mat-grid-tile>
            
                    
            <input matInput type="text" id="24" name="24" #square24 class="form-control"
            maxlength="1" size="1" pattern="[Hh]{1}"
            (input)="square24.value = square24.value.toUpperCase()"
            [(ngModel)]="square24.value" #s24="ngModel">

            <div *ngIf="s24.invalid && (s24.dirty || s24.touched)"
            class="alert">

                <div *ngIf="s24.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>

            <p>5</p>
                    
            <input matInput type="text" id="25" name="25" #square25 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square25.value = square25.value.toUpperCase()"
            [(ngModel)]="square25.value" #s25="ngModel">

            <div *ngIf="s25.invalid && (s25.dirty || s25.touched)"
            class="alert">

                <div *ngIf="s25.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>M</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="26" name="26" #square26 class="form-control"
            maxlength="1" size="1" pattern="[Mm]{1}"
            (input)="square26.value = square26.value.toUpperCase()"
            [(ngModel)]="square26.value" #s26="ngModel">

            <div *ngIf="s26.invalid && (s26.dirty || s26.touched)"
            class="alert">

                <div *ngIf="s26.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>B</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="27" name="27" #square27 class="form-control"
            maxlength="1" size="1" pattern="[Bb]{1}"
            (input)="square27.value = square27.value.toUpperCase()"
            [(ngModel)]="square27.value" #s27="ngModel">

            <div *ngIf="s27.invalid && (s27.dirty || s27.touched)"
            class="alert">

                <div *ngIf="s27.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>


        <!-- <mat-grid-tile>A</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="28" name="28" #square28 class="form-control"
            maxlength="1" size="1" pattern="[Aa]{1}"
            (input)="square28.value = square28.value.toUpperCase()"
            [(ngModel)]="square28.value" #s28="ngModel">

            <div *ngIf="s28.invalid && (s28.dirty || s28.touched)"
            class="alert">

                <div *ngIf="s28.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>R</mat-grid-tile> -->
        <mat-grid-tile>

                    
            <input matInput type="text" id="29" name="29" #square29 class="form-control"
            maxlength="1" size="1" pattern="[Rr]{1}"
            (input)="square29.value = square29.value.toUpperCase()"
            [(ngModel)]="square29.value" #s29="ngModel">

            <div *ngIf="s29.invalid && (s29.dirty || s29.touched)"
            class="alert">

                <div *ngIf="s29.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>G</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="30" name="30" #square30 class="form-control"
            maxlength="1" size="1" pattern="[Gg]{1}"
            (input)="square30.value = square30.value.toUpperCase()"
            [(ngModel)]="square30.value" #s30="ngModel">

            <div *ngIf="s30.invalid && (s30.dirty || s30.touched)"
            class="alert">

                <div *ngIf="s30.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>O</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="31" name="31" #square31 class="form-control"
            maxlength="1" size="1" pattern="[Oo]{1}"
            (input)="square31.value = square31.value.toUpperCase()"
            [(ngModel)]="square31.value" #s31="ngModel">

            <div *ngIf="s31.invalid && (s31.dirty || s31.touched)"
            class="alert">

                <div *ngIf="s31.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>N</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="32" name="32" #square32 class="form-control"
            maxlength="1" size="1" pattern="[Nn]{1}"
            (input)="square32.value = square32.value.toUpperCase()"
            [(ngModel)]="square32.value" #s32="ngModel">

            <div *ngIf="s32.invalid && (s32.dirty || s32.touched)"
            class="alert">

                <div *ngIf="s32.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="33" name="33" #square33 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square33.value = square33.value.toUpperCase()"
            [(ngModel)]="square33.value" #s33="ngModel">

            <div *ngIf="s33.invalid && (s33.dirty || s33.touched)"
            class="alert">

                <div *ngIf="s33.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="34" name="34" #square34 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square34.value = square34.value.toUpperCase()"
            [(ngModel)]="square34.value" #s34="ngModel">

            <div *ngIf="s34.invalid && (s34.dirty || s34.touched)"
            class="alert">

                <div *ngIf="s34.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <mat-grid-tile id="null"></mat-grid-tile>

        <!-- <mat-grid-tile>O</mat-grid-tile> -->
        <mat-grid-tile>
            
                    
            <input matInput type="text" id="35" name="35" #square35 class="form-control"
            maxlength="1" size="1" pattern="[Oo]{1}"
            (input)="square35.value = square35.value.toUpperCase()"
            [(ngModel)]="square35.value" #s35="ngModel">

            <div *ngIf="s35.invalid && (s35.dirty || s35.touched)"
            class="alert">

                <div *ngIf="s35.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>S</mat-grid-tile> -->
        <mat-grid-tile>
            <p>7</p>
                    
            <input matInput type="text" id="36" name="36" #square36 class="form-control"
            maxlength="1" size="1" pattern="[Ss]{1}"
            (input)="square36.value = square36.value.toUpperCase()"
            [(ngModel)]="square36.value" #s36="ngModel">

            <div *ngIf="s36.invalid && (s36.dirty || s36.touched)"
            class="alert">

                <div *ngIf="s36.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>U</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="37" name="37" #square37 class="form-control"
            maxlength="1" size="1" pattern="[Uu]{1}"
            (input)="square37.value = square37.value.toUpperCase()"
            [(ngModel)]="square37.value" #s37="ngModel">

            <div *ngIf="s37.invalid && (s37.dirty || s37.touched)"
            class="alert">

                <div *ngIf="s37.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>S</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="38" name="38" #square38 class="form-control"
            maxlength="1" size="1" pattern="[Ss]{1}"
            (input)="square38.value = square38.value.toUpperCase()"
            [(ngModel)]="square38.value" #s38="ngModel">

            <div *ngIf="s38.invalid && (s38.dirty || s38.touched)"
            class="alert">

                <div *ngIf="s38.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>P</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="39" name="39" #square39 class="form-control"
            maxlength="1" size="1" pattern="[Pp]{1}"
            (input)="square39.value = square39.value.toUpperCase()"
            [(ngModel)]="square39.value" #s39="ngModel">

            <div *ngIf="s39.invalid && (s39.dirty || s39.touched)"
            class="alert">

                <div *ngIf="s39.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>E</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="40" name="40" #square40 class="form-control"
            maxlength="1" size="1" pattern="[Ee]{1}"
            (input)="square40.value = square40.value.toUpperCase()"
            [(ngModel)]="square40.value" #s40="ngModel">

            <div *ngIf="s40.invalid && (s40.dirty || s40.touched)"
            class="alert">

                <div *ngIf="s40.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile>N</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="41" name="41" #square41 class="form-control"
            maxlength="1" size="1" pattern="[Nn]{1}"
            (input)="square41.value = square41.value.toUpperCase()"
            [(ngModel)]="square41.value" #s41="ngModel">

            <div *ngIf="s41.invalid && (s41.dirty || s41.touched)"
            class="alert">

                <div *ngIf="s41.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>
        
        <!-- <mat-grid-tile>D</mat-grid-tile> -->
        <mat-grid-tile>
                    
            <input matInput type="text" id="42" name="42" #square42 class="form-control"
            maxlength="1" size="1" pattern="[Dd]{1}"
            (input)="square42.value = square42.value.toUpperCase()"
            [(ngModel)]="square42.value" #s42="ngModel">

            <div *ngIf="s42.invalid && (s42.dirty || s42.touched)"
            class="alert">

                <div *ngIf="s42.errors?.pattern">
                Wrong letter! Please try again.
                </div>
    
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    </div>



                   <!-- <mat-grid-tile>
                        <input matInput type="text" id="2" name="2" #cell2 class="form-control"
                        maxlength="1" size="1"
                        (input)="cell2.value = cell2.value.toUpperCase()" value="A">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>3</p>
                        <input matInput maxlength="1" size="1" value="I">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="L">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>5</p>
                        <input matInput maxlength="1" size="1" value="I">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="N">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>7</p>
                        <input matInput maxlength="1" size="1" value="G">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="H">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">9</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="M">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">11</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="C">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">13</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="O">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>3</p>
                        <input matInput maxlength="1" size="1" value="I">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="N">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="B">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="R">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="D">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="T">
                    </mat-grid-tile>
                    <mat-grid-tile  class="blacktile">23</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="I">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">25</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="F">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">27</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="H">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>5</p>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="M">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="B">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="A">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="R">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="G">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="O">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="N">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">37</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">39</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile class="blacktile">41</mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="O">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>7</p>
                        <input matInput maxlength="1" size="1" value="S">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="U">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="S">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="P">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="E">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="N">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <input matInput maxlength="1" size="1" value="D">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
    
            <div *ngIf="one.invalid && (one.dirty || one.touched)"
            class="alert">
    
                <div *ngIf="one.errors?.pattern">
                Wrong letter! Please try again.
                </div> -->
     -->



    <div id = "clues" class="container">
        <h1>Clues</h1>


        <ul>
            <li>
                <h3>Down</h3>
            </li>
            <li>
                <p>1. Effect of winter on landscape of pale eastern province.</p>
                <p>3. Backing large truck containing protective clothing quenches thirst.</p>
                <p>5. Navigable in winter, but immigration agency is absent.</p>
                <p>7. Service animal up at your stamping grounds, achieving divinity.</p>
            </li>
            <li>
                <h3>Across</h3>
                <p>1. Complaining bitterly at the wall in the holy city.</p>
                <p>3. Concerning in a state of repose can result in birth abnormalities.</p>
                <p>5. Prohibition drinking establishment between typographical measure and board game.</p>
                <p>7. Hang American caught by disbursement.</p>
            </li>
        </ul>
   


        <!-- <ul id="words">
            <li>
                <h3>Words</h3>
            
            </li>
            <li>
                <p>wailing</p>
                <p>Embargo</p>
                <p>Godhood</p>
                <p>Suspend</p>
                <p>Inbreed</p>
                <p>Whitens</p>
                <p>IceFree</p>
                <p>Imbibes</p>
            </li>
        </ul>
     </div>  -->

     <form id="words" class="text-align">

            <h2>Check word when found</h2>
        
        <input type="checkbox">
        <label>wailing</label><br>
        <input type="checkbox">
        <label>Embargo</label><br>
        <input type="checkbox">
        <label>Godhood</label><br>
        <input type="checkbox">
        <label>Suspend</label><br>
        <input type="checkbox">
        <label>Inbreed</label><br>
        <input type="checkbox">
        <label>Whitens</label><br>
        <input type="checkbox">
        <label>IceFree</label><br>
        <input type="checkbox">
        <label>Imbibes</label><br>
    
      </form>


    <!-- <div class="container">
        <button class="btn btn-success btn-lg" id="btnCreate">Create</button>
        <button class="btn btn-danger btn-lg" id="btnPlay">Play</button>
        <br/><br/>  
      
        <div class="center crossword" id="crossword"></div><br/>
      
        <div class="center">
      
          <div class="line">
            <input class="word" type="text" value="Wailing" />
            <input class="clue" value="Complaining bitterly at the wall in the holy city." />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Inbreed" />
            <input class="clue" value="Concerning in a state of repose can result in birth abnormalities." />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Embargo" />
            <input class="clue" value="Prohibition drinking establishment between typographical measure and board game." />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Suspend"/>
            <input class="clue" value="Hang American caught by disbursement" />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Whitens"/>
            <input class="clue" value="Effect of winter on landscape of pale eastern province " />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Imbibes"/>
            <input class="clue" value="Backing large truck containing protective clothing quenches thirst " />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Icefree"/>
            <input class="clue" value="Navigable in winter, but immigration agency is absent " />
          </div>
      
          <div class="line">
            <input class="word" type="text" value="Godhood"/>
            <input class="clue" value="Service animal up at your stamping grounds, achieving divinity" />
          </div>
      
        </div>
      </div> -->
