h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#grid{
    background-color: black;
    /* padding: 100px, 100px, 50px, 100px; */
    padding-top: 70px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              0px;

}
mat-grid-tile{
    background-color: burlywood;
    
}
#null{
    background-color: black;
}
ul{
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
background-color: burlywood;
/* text-align: center; */
/* padding-left: 50%; */
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


